body{
	font-family: open sans;
	display: flex;
	flex-flow: row wrap;
}
.body-input{
	height: 85px;
    border-style: solid;
    border-color: #353567;
    border-width: 2px;
    margin-bottom: 20px;
}
button{
	background-color: #5356A4;
    color: #E9E9F3;
    border-style: none;
    padding: 10px;
    font-weight: 700;
    font-size: 15px;
    width: 85%;
}
.card-input{
	display: flex;
    flex-direction: column;
    margin: 50px auto auto auto;
    width: 50%;

}
.card-input-area{
	background-color: #A9AAD2;
	height: 350px;
}

.card-contatiner{
	background-color: #EAEAF4;

}

h1{
	font-weight: 700;
	color: #FFFFFF;
	font-size: 17px;
	padding-bottom: 20px;
}
h3{
	font-weight: 400;
	font-size: 15px;
	color: #FFFFFF;
	margin: 20px 0px 20px 0px;
}
h4{
	font-weight: 700;
	font-size: 10px;
	color: #BFBFFD;
	display: block;
	margin-top: 20px;
}
hr{
	border-bottom-color: #353567;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

label{
	font-weight: 700;
	font-size: 10px;
	display: block; 
	margin: 10px 0px 10px 0px;
}
#logo{
	margin: 20px 0px 10px 20px;

}

main{
	width: 75%;
	margin-left: 25%;
}

nav {
	background-color: #1F1F3D;
    width: 25%;
    height: 100%;
    position: absolute;

}
.new-quality-input{
	width: 85%;
    height: 40px;
    margin: 20px 0px 20px 0px;
    border-style: none;
}

.save-btn{
	background-color:#353567;
	width: 100%;
}

section{
	width: 100%;
	display: flex;
    justify-content: flex-end;
}
.starred-ideas-btn{
	margin:20px;
}
#starred-ideas-filter{
	margin: 20px 0px 0px 20px;
}
.title-input{
	height: 40px;
    border-style: solid;
    border-color: #353567;
    border-width: 2px;
}

.quality{
	display: block;
   	margin: 0px 20px 20px;
}

