*{box-sizing:border-box;}

article {
  border-color: #353567;
  border-width: 2px;
  border-style: solid;
  width: 175px;
  height: 200px;
}

body {
  display: grid;
  font-family: open sans;
  grid-template-areas:
  "nav topSection"
  "nav bottomSection";
  grid-template-columns:25% 75%;
  height: 100vh;
}

#body-input {
  border-color: #353567;
  border-radius: 3px;
  border-style: solid;
  border-width: 2px;
  height: 85px;
  margin-bottom: 20px;
}

button {
  background-color: #5356A4;
  border-radius: 3px;
  border-style: none;
  color: #E9E9F3;
  font-size: 15px;
  font-weight: 700;
  padding: 10px;
  width: 90%;
}

.border {
  border-bottom-color: #353567;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-top-color: #353567;
  border-top-style: solid;
  border-top-width: 1px;
}

.card-body {
  height:48%;
  padding: 10px;
}

.card-input {
  display: flex;
  flex-direction: column;
  margin: 20px auto auto auto;
  width: 50%;
}

#card-display-area {
 display:grid;
 grid-area: bottomSection;
 grid-gap: 35px 35px;
 grid-template-columns: 25% 25% 25%;
 grid-template-rows: repeat(3,1fr);
 justify-content: center;
 padding: 20px;
/* color: #FFFFFF;*/
}

.card-display {
  width:100%;
}

.card-input-area {
  background-color: #A9AAD2;
  grid-area: topSection;
}

.card-title {
  color: #1F1F3D;
  font-weight: 700;
  margin: 10px 0px 0px 0px;
  padding: 0px 0px 10px 10px;
}

.delete-btn {
  float:right;
  width:20px;
}

.downvote-btn {
  float:right;
  width:20px;
}

footer {
  background-color: #3536A4;
  color: #FFFFFF;
  display:flex;
  font-size: 12px;    
  font-weight: 700;
  height: 30px;
  justify-content: space-between;
  margin-top:17px;
  text-align: center;
  width:100%;
}

h1 {
  color: #FFFFFF;
  font-size: 17px;
  font-weight: 700;
  padding-bottom: 20px;
}

h3 {
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 400;
  margin: 20px 0px 20px 0px;
  width: 100%
}

h4 {
  color: #BFBFFD;
  display: block;
  font-size: 10px;
  font-weight: 700;
  margin-top: 20px;
}

h5 {
  padding: 10px;
  width:127px;
}

header {
  background-color: #353567;
  height: 20px;
  width:100%;
}

.hidden-msg {
  color: #581845 ;
  font-family: Courier;
  font-size:35px;
  margin: 0 auto;
  text-align:left;
  width:250px;
}

.hover-orange:hover {
  background-color: #D14119;
  border-left: 10px solid #F58E72;
  padding: 15px;
  position: relative;
  right: 20px;
  width: 25vw;
}

label {
  display: block; 
  font-size: 10px;
  font-weight: 700;
  margin: 10px 0px 10px 0px;
}

#logo {
  margin: 20px 0px 10px 20px;
}

nav {
  background-color: #1F1F3D;
  grid-area: nav;
  height: 200vh;
  position: absolute;
  width: 25%;
}

.new-quality-btn {
  border-radius: 3px;
}

#new-quality-input {
  border-radius:3px;
  border-style: none;
  height: 40px;
  margin: 20px 0px 20px 0px;
  width: 90%;
}
.quality {
  display: block;
  margin: 0px 0px 0px 20px;
}

.save-btn {
  background-color:#353567;
  border-radius: 3px;
  height:40px;
  margin-bottom: 20px;
  width: 100%;
}

.search-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
}

.search-input {
  border-bottom-right-radius: 5px;
  border-color: #353567;
  border-style: solid;
  border-top-right-radius: 5px;
  border-width: 2px;
  color: #1f1f3b;
  font-size: 14px;
  font-weight: 300;
  height: 40px;
  margin-bottom:15px;
  margin-left: 40px;
}

.search-img {
  background-color: #1f1f3b;
  background-color:#353567;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  padding: 5px;
  position: absolute;
  width:40px;
}

.star-btn {
  float:left;
  width:20px;
}

.starred-ideas-btn {
  border-radius: 3px;
  margin:20px;
  width: 85%;
}

#starred-ideas-filter {
  margin: 20px 0px 0px 20px;
}
#toggle{
  visibility: hidden;
}

#title-input {
  border-color: #353567;
  border-radius: 3px;
  border-style: solid;
  border-width: 2px;
  height: 40px;
}

.upvote-btn {
  float:left;
  width:20px;
}

/*Media Queries*/

@media screen and (max-width: 770px) {
    
    .starred-ideas-btn{
      max-width: 80%
    }
    #logo{
      line-height: 25px;
    }
}

@media screen and (max-width: 670px) {
    
    .starred-ideas-btn{
      width: 75%
    }
}

@media screen and (max-width: 550px) {

    .card-input {
      width: 75%;
    }
    .card-input-area{
      grid-area: topSection;
      background-color: #A9AAD2;
      position: absolute;
      width: 100%;
      top: 7%;
      z-index: -1;
    }

    #card-display-area{
      display: grid;
      grid-template-columns: 90%;
      position: absolute;
      margin: 55vh 0 0 5%;
      width: 90%;
      z-index: -22;
    }

    #logo {
        display: inline-block;
        margin-left: 17%;
        visibility: visible;
        position: absolute;
        left: 15%;
    }

    .search-form{
      width: 75%;
    }

    .overlay {
     background-color: #201f3d;
     position: absolute;
     z-index: 1;
     width: 100vw;
     height: 50px;
    }

    .overlay > label {
     cursor: pointer;
     display: block;
     position: relative;
     left: 20px;
     width: 30px;
     height: 20px;
     border-top: 2px solid white;
     border-bottom: 2px solid white;
     float: left;
     margin-top: 20px;
    }

    .overlay > label::before {
     content: '';
     display: block;
     position: relative;
     top: 7px;
     border-top: 2px solid white;
    }

    .verticalNav {
     background-color: #201f3d;
     position: relative;
     top: -450px;
     height: 500px;
     padding-top: 20px;
     font-size: 22px;
     box-sizing: border-box;
     transition: top 600ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
     width: 100%;
    }

    .verticalNav a {
     display: block;
     color: white;
     font-weight: 100;
     padding-left: 5%;
     margin-top: 20px;
     text-decoration: none;
    }

    .verticalNav a:hover {
     width: 100%;
     background-color: #d14119;
    }

    #toggle {
     position: absolute;
     visibility: hidden;
    }

    #toggle:checked ~ .verticalNav {
     top: 40px;
    }

    #toggle:checked {
     margin-top: 135px;
    }
    nav{
      width: 100vw;
      height: 9vh;
    }
    .starred-ideas-btn{
      width: 100%;
    }

    };

